alembic==1.20.0
aiomysql==0.3.2
aiosqlite==0.22.1
annotated-types==0.8.0
anyio==4.15.1
Authlib==1.8.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
chinese-converter==1.1.1
click==8.5.0
colorama==0.4.6
cryptography==50.0.1
dnspython==2.8.0
email_validator==2.3.0
fastapi==0.141.1
fastapi-cli==0.0.32
fastcrud==0.22.3
greenlet==3.5.6
h11==0.16.0
hanzidentifier==1.3.0
httpcore==1.0.9
httptools==0.8.0
httpx==0.28.1
idna==3.20
Jinja2==3.1.6
joserfc==1.7.5
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
orjson==3.12.0
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
Pygments==2.21.0
PyJWT[crypto]==2.14.0
PyMySQL==1.2.3
pypinyin==0.55.0
python-dotenv==1.2.3
python-multipart==0.0.32
PyYAML==6.0.3
requests==2.34.2
rich==15.0.0
shellingham==1.5.4
sniffio==1.3.1
SQLAlchemy==2.0.54
SQLAlchemy-Utils==0.41.2
starlette==1.6.0
typer==0.27.2
typing_extensions==4.16.0
ujson==6.0.0
urllib3==2.8.0
uvicorn==0.53.0
watchfiles==1.3.0
websockets==17.1
zhon==2.1.1
